body {
  text-align: center;
  font-family: sans-serif;
  background: #222;
  color: white;
}

canvas {
    background: black;
    border: 2px solid white;

    display: block;
    margin: 0 auto;
}

button {
  font-size: 20px;
  padding: 8px 14px;
  margin: 4px;
}

#controls {
  margin-top: 8px;
}

#controls button {
  width: 42px;
  height: 42px;
  font-size: 28px;
  margin: 4px;

  padding: 0;

  text-align: center;
  line-height: 42px;

}

#restart {
  margin-top: 6px;
  margin-bottom: 8px;

  padding: 6px 12px;
  font-size: 18px;
}

#restart-container {
  text-align: right;
  margin-right: 20px;
}

#controls {
  text-align: center;
}

#controls div {
  margin: 6px 0;
}

#center-space {
  display: inline-block;
  width: 42px;
}

#diffculty{
  margin-bottom:6px;
}

@media (max-width: 600px) {
  #controls button {
    width: 62px;
    height: 62px;
    font-size: 32px;
    line-height: 62px;
  }

  #restart {
    font-size: 18px;
  }
}