body {
  text-align: center;
  font-family: sans-serif;
  background: #222;
  color: white;
}

canvas {
  background: black;
  border: 2px solid white;
  display: block;
  margin: 0 auto;
}

button {
  font-size: 20px;
  padding: 8px 14px;
  margin: 4px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* 難易度ボタン */
.easy-btn {
  background: #2ecc71;
  color: white;
}

.normal-btn {
  background: #3498db;
  color: white;
}

.hard-btn {
  background: #e74c3c;
  color: white;
}

#difficulty {
  margin-bottom: 6px;
}

/* Restart */
#restart-container {
  text-align: right;
  margin-right: 20px;
}

#restart {
  margin-top: 6px;
  margin-bottom: 8px;
  padding: 6px 12px;
  font-size: 18px;
  background: #555;
  color: white;
}

/* 操作ボタン */
#controls {
  text-align: center;
  margin-top: -15px;
}

#controls div {
  margin: 6px 0;
}

#center-space {
  display: inline-block;
  width: 42px;
}

#controls button {
  width: 42px;
  height: 42px;
  font-size: 28px;
  margin: 4px;
  padding: 0;
  text-align: center;
  line-height: 42px;
  background: #444;
  color: white;
}

/* スマホ用 */
@media (max-width: 600px) {
  #controls {
    margin-top: -2px;
  }

  #controls button {
    width: 52px;
    height: 52px;
    font-size: 32px;
    line-height: 52px;
  }

  #restart {
    font-size: 18px;
  }
}